.header {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 100px;
    padding: 0 20px;

    &__logo {
        width: 32%;
        display: flex;
        align-items: center;
    }

    &__logo-img {
        width: 100%;
    }

    &__btn {
        display: block;
        padding: 3px 20px;
        font-family: $font-family-body;
        color: $color-primary-pink;
        outline: none;
        background-color: transparent;
        border-radius: 20px;
        border: 2px solid $color-primary-pink;
        cursor: pointer;

        &:hover {
            box-shadow: 0 0 5px 0 $color-primary-pink-light;
        }
    }
}