.summation {
    margin: 200px 0;
    padding: 0 20px;

    &__title {
        margin-bottom: 30px;
        font-family: $font-family-headings;
        font-size: 1.3rem;
        text-align: center;
    }

    &__btn {
        display: block;
        margin: 40px auto 100px;
        padding: 12px 40px;
        font-family: $font-family-body;
        font-weight: bold;
        color: $color-neutral-blue;
        background-color: $color-primary-pink;
        outline: none;
        border-style: none;
        border-radius: 20px;
        cursor: pointer;

        &:hover {
            background-color: lighten(hsl(322, 100%, 66%), 10%);
        }
    }
}