$color-primary-pink: hsl(322, 100%, 66%);
$color-primary-pink-light: hsl(321, 100%, 78%);
$color-primary-red-light: hsl(0, 100%, 63%);

$color-neutral-cyan: hsl(192, 100%, 9%);
$color-neutral-blue: hsl(207, 100%, 98%);

$font-family-headings: 'Poppins',
sans-serif;
$font-family-body: 'Open Sans',
sans-serif;